<?xml version="1.0"?>
<config>
    <modules>
        <PA_Access>
            <version>1.0.0</version>
        </PA_Access>
    </modules>
    <global>
        <blocks>
            <access>
                <class>PA_Access_Block</class>
            </access>
            <catalog>
                <rewrite>
                    <product_view>PA_Access_Block_Product_View</product_view>
                </rewrite>
                <rewrite>
                    <product_list>PA_Access_Block_Product_List</product_list>
                </rewrite>
                <rewrite>
                    <product_compare_list>PA_Access_Block_Product_Compare_List</product_compare_list>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <access>
                <class>PA_Access_Helper</class>
            </access>
        </helpers>
        <models>
            <access>
                <class>PA_Access_Model</class>
            </access>
        </models>
        <resources>
            <access_setup>
                <setup>
                    <module>PA_Access</module>
                </setup>
            </access_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <checkout_cart_save_before>
                <observers>
                    <access>
                        <type>model</type>
                        <class>PA_Access_Model_Observer</class>
                        <method>checkout_cart_save_before</method>
                    </access>
                </observers>
            </checkout_cart_save_before>
        </events>
        <layout>
            <updates>
                <access>
                    <file>pa.xml</file>
                </access>
            </updates>
        </layout>
        <routers>
            <access>
                <use>standard</use>
                <args>
                    <frontName>access</frontName>
                    <module>PA_Access</module>
                </args>
            </access>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <access after="Mage_Adminhtml">PA_Access_Adminhtml</access>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
